# Assignment Instructions

`Hello Innominion,`

- **Try to attempt all the questions in every possible way.**
- **Some other topics are required to solve some questions. don't panic.**
- **Those questions can be answered after the topics are taught.**


- `Join Mentoring Session for the Support/Doubts Resolving with Our Technical Mentors (2.00 PM - 6.00 PM  Mon-Sat)` 

Happy Learning !!!

###  LIST

`Question:`:Create a list of numbers
> nums = [1,2,3,4]

#### Answer

In [2]:
#Create a list of numbers nums = [1,2,3,4]
nums=[1,2,3,4]
nums

[1, 2, 3, 4]

** `Question:` Remove number "3" in a list**

#### Answer

In [4]:
# Method 1  Remove number "3" in a list**

nums=[1,2,3,4]
nums[0:2:1]+nums[3:]

[1, 2, 4]

In [7]:
# Method 2
nums=[1,2,3,4]
nums.remove(3)
nums

[1, 2, 4]

In [10]:
# Method 3
nums=[1,2,3,4]
nums.pop(2)
nums

[1, 2, 4]

In [11]:
# Method 4
nums=[1,2,3,4]
del(nums[2])
nums

[1, 2, 4]

**`Question:` :Insert number "1" in 0th position**
- lst = [2,3,4]

#### Answer

In [12]:
# Insert number "1" in 0th position lst = [2,3,4]
nums=[2,3,4]
nums.insert(0,1)
nums

[1, 2, 3, 4]

**`Question:` Insert "two-and-half" in 2nd position**

#### Answer

In [13]:
#Insert "two-and-half" in 2nd position
nums=[1,2,3,4]
nums.insert(2,"two-and-half")
nums

[1, 2, 'two-and-half', 3, 4]

**`Question:` phrase = "Don't panic!"**
- **Convert above text into list**

#### Answer

In [15]:
#  phrase = "Don't panic!" 
phrase = "Don't panic!"

*convert into list*

In [16]:
# Convert above text into list
l=list(phrase)

In [17]:
l

['D', 'o', 'n', "'", 't', ' ', 'p', 'a', 'n', 'i', 'c', '!']

`Question:` Remove ** '** and **!** in the list

#### Answer

In [18]:
# Remove ** '** and ! in the list
l.remove("'")
l.remove("!")
l

['D', 'o', 'n', 't', ' ', 'p', 'a', 'n', 'i', 'c']

**`Question:` Remove "p" , "a", "n","D" and extend at the last**

#### Answer

In [19]:
# Remove "p" , "a", "n","D" and extend at the last
l.remove("p")
l.remove("a")
l.remove("n")
l.remove("D")

In [21]:
l.extend(["p","a","n","D"])
l

['o', 't', ' ', 'n', 'i', 'c', 'p', 'a', 'n', 'D']

**`Question:` Join the given list ['p', 'a', 'n', 'D', 'a']**

#### Answer

In [24]:
# Join the given list ['p', 'a', 'n', 'D', 'a']
list = ['p', 'a', 'n', 'D', 'a']
result = "".join(list)
print("'"+result+"'")

'panDa'

###  Tuples

**`Question:` Create a tuples for numbers 31,24,35,85 as nums**

In [ ]:
# Create a tuples for numbers 31,24,35,85 as nums

#### Answer

In [2]:
nums=(31,24,35,85)
type(nums)

tuple

In [27]:
nums

(31, 24, 35, 85)

**`Question:` Remove number "35" in a tuple**

*Hint:* Convert into list

#### Answer

In [10]:
# Remove number "35" in a tuple**
nums=(31,24,35,85)
l=list(nums)
l.remove(35)
t=tuple(l)
t

(31, 24, 85)

**Extent** tuple (85,19)

#### Answer

In [ ]:
# Extent tuple (85,19)

In [11]:
l1=list(t)
l1.extend([85,19])
t1=tuple(l1)
t1

(31, 24, 85, 85, 19)

**`Question:` Write code to check whether an element ('i') exists within a tuple.**
- tpl = ('i','n''n','0')

#### Answer

In [16]:
# Write code to check whether an element ('i') exists within a tuple.
# tpl = ('i','n''n','0')
tpl = ('i','n','n','o')

In [17]:

if 'i' in tpl:
    print("True")
else:
    print("false")

True

**`Question:` Write a python code to replace/insert the value**
- list = ['Hello',100,[],'innomatics']

#### Answer

In [19]:
# Write a python code to replace/insert the value
# list = ['Hello',100,[],'innomatics']

lst = ['Hello',100,[],'innomatics']
lst[2].append(200)
lst

['Hello', 100, [200], 'innomatics']

**`Question:` Write a Python program to reverse a tuple.**

#### Answer

In [25]:
# Write a Python program to reverse a tuple.

tpl = ("Innomatics")
l=list(tpl)
l.reverse()
tpl1 = tuple(l)
tpl1

('s', 'c', 'i', 't', 'a', 'm', 'o', 'n', 'n', 'I')

In [2]:
# It's worth noting that if you want to create a tuple with a single element, you must include a comma after the element,
#otherwise it will be interpreted as an expression enclosed in parentheses.     

tpl = (1,2,3)+(4,)
tpl

(1, 2, 3, 4)

**`Question:` Write a Python program to add one more value at last postion of tuples in a list**
- tpl = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
- `hint- use for loop`

#### Answer

In [1]:
# write a Python program to add one more value at last postion of tuples in a list

tpl = [(10, 20, 40), (40, 50, 60), (70, 80, 90)] # list of three tuples
# new_value = 100

result = [i + (100,) for i in tpl] # Adding 100 in the last of every tople unitill the iterations takes place.

print(result) # Printing result

[(10, 20, 40, 100), (40, 50, 60, 100), (70, 80, 90, 100)]

In [11]:
# Another way

tpl = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
new_value = 100 # the value added is to be assigned to new_value.
result=[] # Initialising result with empty list.
for i in tpl: # The iteration will takes place till the commpletion of the list.
    result.append(i+(new_value,)) # Each tuple is appended with the newvalue.
print(result) # Printing the result

[(10, 20, 40, 100), (40, 50, 60, 100), (70, 80, 90, 100)]

**`Question:` Write a Python program to replace last value of tuples in a list**
- tpl = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
- `hint- use for loop`

#### Answer

In [2]:
# Write a Python program to replace last value of tuples in a list

tpl = [(10, 20, 40), (40, 50, 60), (70, 80, 90)] # tpl is a list of three tuples
new_value = 100  # the value added is to be assigned to new_value.
result=[] 3 # Initialising result with empty list.
for i in tpl: # taking iterations till the completion of the list.
    result.append(tuple([i[0],i[1],new_value])) # Appending new value with the third element of each tuple in the list. 
print(result) # printig the result after replacing the value.

[(10, 20, 100), (40, 50, 100), (70, 80, 100)]

In [6]:
 # Method 2 using list comprehension
    
tpl = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
result = [(x[0], x[1], 100) for x in tpl]
print(result)

[(10, 20, 100), (40, 50, 100), (70, 80, 100)]

### `Question:` If the following string is given as input to the program:

- '5 2 3 6 6 5'

#### FInd the secong higest value from that

#### Answer

In [6]:
# Method 1
# If the following string is given as input to the program:
# string = '5 2 4 6 2 2'
# FInd the secong higest value from that

string = '5 2 4 6 2 2' 
s = string.split() # splitting a string into list of characters using split() method.
nums=[] # Initialising nums with empty list.
for i in s: # iterations witll takes place till the completion of the list.
    nums.append(int(i)) # changing each character to int and addin to new list nums using append() method.
print(nums) # print the new list
s1 = set(nums) # To remove duplicates from the list , convertin list to set.
s1.remove(max(s1)) # Removing first largest number from the list by using remove() and max() method.
second_highest=max(s1) # max of remainin list becomes second highest of the first list.
print("the second Highest number in the string is :",second_highest) # printing the second highest number from the given string.

[5, 2, 4, 6, 2, 2]
the second Highest number in the string is : 5

#### Answer

In [7]:
# Method 2

# If the following string is given as input to the program:
# string = '5 2 4 6 2 2'
# FInd the secong higest value from that

string = '5 2 4 6 2 2'
numbers = [int(num) for num in string.split()] # changing each and everry character to integer and iterating till
                                               # the completion of the list.
print(numbers) # printing the list of numbers
unique_numbers = set(numbers) # convert the list into set to remove duplicates by using set().
unique_numbers.remove(max(unique_numbers)) # Remove first highest number from the set using remove() method.
second_highest = max(unique_numbers) # fine second highest from the remaininng set by using max() method. 
print(second_highest) # printing second highest number.

[5, 2, 4, 6, 2, 2]
5

### `Question:` By using list comprehension, please write a program to print the list after removing the 0th,4th,5th numbers in [12,24,35,70,88,120,155].

#### Answer

In [8]:
# By using list comprehension, please write a program to print the list after removing the 0th,4th,5th numbers 
#in [12,24,35,70,88,120,155].

numbers = [12,24,35,70,88,120,155] # List of numberrs assigned to numbers variable.
new_list = [num for i, num in enumerate(numbers) if i not in [0, 4, 5]] # removing 0th, 4th and 5th position numbers by iterating
            # the loop till the end of the list.
            # by using enumerate() method we r taking index of the numebers and correspoding numbers as list.
            # using if condition , remove 0,4 and 5th positions by comparing each index.
            # sendin the remaining values to new_list.
print(new_list) # printing new_list

[24, 35, 70, 155]

In [9]:
# with out using List comprehension:

numbers=[12,24,35,70,88,120,155]
new_list=[]
for i,num in enumerate(numbers):
    if i not in [0,4,5]:
        new_list.append(num)
print(new_list)

[24, 35, 70, 155]

In [19]:
# Another Method
numbers = [12, 24, 35, 70, 88, 120, 155]
for i in [5,4,0]:
    numbers.pop(i)
print(numbers)

[24, 35, 70, 155]

### `Question:` With a given tuple (1,2,3,4,5,6,7,8,9,10), write a program to print the first half values in one line and the last half values in one line.

#### Answer

In [9]:
#With a given tuple (1,2,3,4,5,6,7,8,9,10), 
#write a program to print the first half values in one line and the last half values in one line.

tpl = (1,2,3,4,5,6,7,8,9,10) # Taking a tuple with 10 numbers.
tuple_len = len(tpl) # finding lenght of the tuple by using len() method and the value is assigned to a variable.
first_half = tpl[:tuple_len//2] # slise the list to half and assign first half to one variable.
second_half = tpl[tuple_len//2:] # slise the second half of the list using slising techniques and assign the second half to
                                # another variable.
print(first_half) # print first half of the tuple.
print(second_half) # print second half of the tuple.

(1, 2, 3, 4, 5)
(6, 7, 8, 9, 10)

### `Question:` Write a program to generate and print another tuple whose values are even numbers in the given tuple (1,2,3,4,5,6,7,8,9,10)

#### Answer

In [1]:
#Write a program to generate and print another tuple whose values are even numbers in the given tuple (1,2,3,4,5,6,7,8,9,10)

given_tuple = (1,2,3,4,5,6,7,8,9,10) # Taking a tuple with ten numbers
even_list = [] # Taking an empty list and assigned to a variable. 
for i in given_tuple: # iterations has to be taken place untill the tuple becomes empty.
    if i % 2 == 0: # it checks every element of tuple is divisible by 2.
        even_list.append(i) # if yes that element has to added to new list.
print(tuple(even_list)) # Convertin the object to tuple.

(2, 4, 6, 8, 10)

# `Descriptive Questions`

### 1. Explain the difference between list and tuple?

#### The main differences between a list and a tuple in Python are:

- Mutability: Lists are mutable, which means you can change their content (add, remove, modify elements), while tuples are immutable, which means you cannot modify their content once created.

- Syntax: Lists are defined with square brackets [], while tuples are defined with round parentheses ().

- Performance: Tuples are faster than lists when it comes to access time and memory usage, since tuples are immutable and their elements are stored in a single block of memory.

- Use cases: Lists are more flexible and commonly used when you need to store and manipulate dynamic data, while tuples are commonly used to store and pass around fixed and immutable data, such as dates or coordinates.

### 2. Explain the difference between append() and extend() with examples

#### The difference between append() and extend() methods

- The append() and extend() methods in Python are both used to add elements to a list
- append() method is used to add a single element to the end of the list
- extend() method is used to add multiple elements to the end of the list. 
- It takes an iterable (e.g. list, tuple, string) as an argument and adds each element of that iterable to the end of the list:

In [29]:
# Example of append()
l=[1,2,3]
l.append(4)
l

[1, 2, 3, 4]

In [30]:
# Example of extend()
l=[1,2,3,4]
l.extend([5,6,7,8])
l

[1, 2, 3, 4, 5, 6, 7, 8]

### 3. Explain the difference between pop() and remove() with examples

#### The differece between pop() ad remove():

- pop() and remove() methods in Python are used to remove elements from a list.
- pop() method removes and returns the element at the specified index or the last element by default.
- remove() method removes the first occurrence of the specified element.

In [33]:
# Example of pop()
l1=[1,2,3,4,5,6]
l1.pop() # if we don't specify any index it removes last element from the list
l1
l1.pop(3) # if we specify index it removes only specified index value.
l1

[1, 2, 3, 5]

In [35]:
# Example of remove()
l2=[1,2,3,4,5,6]
l2.remove(4) # it removes 4 from the list
l2

[1, 2, 3, 5, 6]

# [Innomatics Research Labs](https:/innomatics.in/)
[www.innomatics.in](https:/innomatics.in/)