# Assignment Instructions

`Hello Innominion,`

- **Try to attempt all the questions in every possible way.**
- **Some other topics are required to solve some questions. don't panic.**
- **Those questions can be answered after the topics are taught.**


- `Join Mentoring Session for the Support/Doubts Resolving with Our Technical Mentors (2.00 PM - 6.00 PM  Mon-Sat)` 

Happy Learning !!!

###  Sets

> **`Question:` Create a set "s" with elements**

1 , 2 , 'innomatics', 'hub'

In [1]:
#  Create a set "s" with elements

s={1,2,'innomatics','hub'}

In [2]:
s # while printing the output it sorts alphabatically.

{1, 2, 'hub', 'innomatics'}

> **`Question:` Add element 'Technology' in s**

In [9]:
# Add element 'Technology' in s

s={1,2,'innomatics','hub'}

In [10]:
s.add('Technology') # adding "Technology" to existed set by using add( method)
s

{1, 2, 'Technology', 'hub', 'innomatics'}

> **`Question:` Create one more set "sc" with elements**

3,4, 'hub', 'Technology'

In [13]:
# Create one more set "sc" with elements
sc = {3,4,'hub','Technology'}

In [14]:
sc # callin the set

{3, 4, 'Technology', 'hub'}

> **`Question:` Find difference of two sets s and sc**

s - sc

In [9]:
# Find difference of two sets s and sc
s.difference(sc) # using difference() method finding difference between set s and set sc

{1, 2, 'innomatics'}

> **`Question:` remove 2 from set s**

In [10]:
s # calling set s

{1, 2, 'Technology', 'hub', 'innomatics'}

In [11]:
#  remove 2 from set s
s.remove(2) # using remove() method removing 2 from the set

In [12]:
s # afterr removing calling set

{1, 'Technology', 'hub', 'innomatics'}

> **`Question:`Print common element in two sets s and sc**

s intersection sc

In [15]:
# Print common element in two sets s and sc
s
sc

{3, 4, 'Technology', 'hub'}

In [16]:
s.intersection(sc) # finding common elements in two sets using intersection() method

{'Technology', 'hub'}

> **`Question:`Print all element in two sets**

s union sc

In [17]:
# Print all element in two sets
s
sc

{3, 4, 'Technology', 'hub'}

In [18]:
s.union(sc) # combining both the sets elements using union() method

{1, 2, 3, 4, 'Technology', 'hub', 'innomatics'}

**`Question:`Add a list of elements to a set**
- fruits = {"orange",'apple','kiwi'}
- colors = ['orange','red','green']

In [20]:
# Add a list of elements to a set

fruits = {"orange","apple","kiwi"}
colors = ['orange','red','green']
f=list(fruits) # sets are immutable, so first we need change a set to list to modify it
f.extend(colors) # After changing a tuple to list , add another list of emnts to the list using extend() method
fruits=set(f) # to remove duplication again changing list to set

In [21]:
fruits #callin set

{'apple', 'green', 'kiwi', 'orange', 'red'}

**`Question:`Remove items 10, 20, 30 from the following set at once**
- set1 = {10, 20, 30, 40, 50}

In [23]:
# Remove items 10, 20, 30 from the following set at once
set1 = {10,20,30,40,50}

In [24]:
# removing elements from the set using dicard ()

set1.discard(10)
set1.discard(20)
set1.discard(30)
set1

{40, 50}

# [Innomatics Research Labs](https:/innomatics.in/)
[www.innomatics.in](https:/innomatics.in/)