# Assignment Instructions

`Hello Innominion,`

- **Try to attempt all the questions in every possible way.**
- **Some other topics are required to solve some questions. don't panic.**
- **Those questions can be answered after the topics are taught.**


- `Join Mentoring Session for the Support/Doubts Resolving with Our Technical Mentors (2.00 PM - 6.00 PM  Mon-Sat)` 

Happy Learning !!!

###  Dictionary

**`Question :`Create Dictionary for following information as "person1":**
   - Name = John
   - Gender= Male
   - Occupation = Data Scientist
   - Location  = Nizampet, Hyderabad

In [1]:
# Creating a Dictionary for the following information as "person1":

person1 = { 'Name' : 'John',
            'Gender': 'Male',
            'Occupation' : 'Data Scientist',
           
            'Location' : 'Nizampet , Hyderabad'}

In [2]:
person1 # calling the function

{'Name': 'John',
 'Gender': 'Male',
 'Occupation': 'Data Scientist',
 'Location': 'Nizampet , Hyderabad'}

> print keys in person1 as a list

In [6]:
# print keys in person1 as a list

# creating a dictionary 
person1 = { 'Name' : 'John',
            'Gender': 'Male',
            'Occupation' : 'Data Scientist',
            'Location' : 'Nizampet , Hyderabad'}

In [7]:
l = person1.keys() # by using keys() method assigning all the keys to the list
l1 = set(l) # changing the list of keys into set
l1

{'Gender', 'Location', 'Name', 'Occupation'}

> **`Question:` Remove Location in person1**

In [40]:
# Remove Location in person1

# Creating a dictionary 

person1 = { 'Age' : 27,
            'Name' : 'John',
            'Gender': 'Male',
            'Occupation' : 'Data Scientist',
            'Location' : 'Nizampet , Hyderabad'}

In [77]:
d = person1.pop('Location') # Removing Location information from the dictionary the 'Location' key
 #print(person1,end="")
# Printing the dictionary in the following format
print("{'Age' :",person1['Age'],",\n'Name' : '",person1['Name'],"',\n'Gender': '",person1['Gender'],"',\n'Occupation' : '",person1['Occupation'],"'}")

{'Age' : 27 ,
'Name' : ' John ',
'Gender': ' Male ',
'Occupation' : ' Data Scientist '}

In [41]:
# Method 2
person1.pop('Location') # Removing Location information from the dictionary the 'Location' key
 #print(person1,end="")
person1

{'Age': 27, 'Name': 'John', 'Gender': 'Male', 'Occupation': 'Data Scientist'}

In [38]:
# calling the dictionary in the following format
person1 = {'Age' : person1['Age'],
            'Name' : person1['Name'],
            'Gender' : person1['Gender'],
            'Occupation' : person1['Occupation']}

In [39]:
person1

{'Age': 27, 'Name': 'John', 'Gender': 'Male', 'Occupation': 'Data Scientist'}

> **`Question:` Create dictionary of person2 with**
- Name  = Raghu Ram
- Gender = Male
- Age  = 25
- Occupation = Data Scienctist

In [24]:
#  Create dictionary of person2 with

person2 = { 'Name' : 'Raghu Ram',
            'Gender': 'Male',
            'Age' : 25,
            'Occupation' : 'Data Scientist'}

In [25]:
# displaying the dictionary in the following format

person2 = {'Age': person2['Age'],
            'Name': person2['Name'],
            'Gender': person2['Gender'],
            'Occupation': person2['Occupation']}

In [42]:
person2 # calling function

{'Age': 25,
 'Name': 'Raghu Ram',
 'Gender': 'Male',
 'Occupation': 'Data Scientist'}

> **`Question:` Print the output as show below**

In [43]:
# Print the output as show below
person1 = {'Gender': 'Male', 'Location': 'Nizampet, Hyderabad', 'Name': 'John', 'Occupation': 'Data Scientist'}

person2 = {'Age': 25, 'Gender': 'Male', 'Name': 'Raghu Ram', 'Occupation': 'Data Scientist'}

print("============================================ person1 ========================================================")
print(person1)
print("============================================ person2 ========================================================")
print(person2)

============================================ person1 ========================================================
{'Gender': 'Male', 'Location': 'Nizampet, Hyderabad', 'Name': 'John', 'Occupation': 'Data Scientist'}
============================================ person2 ========================================================
{'Age': 25, 'Gender': 'Male', 'Name': 'Raghu Ram', 'Occupation': 'Data Scientist'}

# create a dictionary
#### `Question:` remove the elements from that dictionary using different methods
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25,6:36,7:49}

In [38]:
#  remove the elements from that dictionary using different methods
# method1

d = {1: 1, 2: 4, 3: 9, 4: 16, 5: 25,6:36,7:49}

del(d[4]) # deletes the key-value pair with key 4
 
d.pop(3) # removes the key-value pair with key 3 and returns the value

9

In [39]:
d # callin dictionary

{1: 1, 2: 4, 5: 25, 6: 36, 7: 49}


### `Question:` print the values from the given dictionary in descending order
{0: 0, 1: 1, 3: 9, 5: 25, 7: 49, 9: 81}

In [48]:
# print the values from the given dictionary in descending order

dic = {0: 0, 1: 1, 3: 9, 5: 25, 7: 49, 9: 81}
val = dic.values() # assigning dictionary values to "values"
sorted_values = sorted(val, reverse=True # sorting the dictionary values using sorted() method
print(sorted_values) # printing the values in descending order

[81, 49, 25, 9, 1, 0]

### `Question:` merge the below 3 dictionaries
dict1 = { 'a': 1, 'b': 2 }
dict2 = { 'b': 3, 'c': 4 }
dict3 = { 'c': 5, 'd': 6 }

In [49]:
# merge the below 3 dictionaries

# creating three dictionaries

dict1 = { 'a': 1, 'b': 2 } 
dict2 = { 'b': 3, 'c': 4 }
dict3 = { 'c': 5, 'd': 6 }

In [59]:
dict1.update(dict2) # updating dict1 with dict2 using update() method
dict1.update(dict3) # updating dict1 again with dict3 using update() method

print(dict1)

{'a': 1, 'b': 3, 'c': 5, 'd': 6}

**`Question:` change Charan’s salary to 8500 in the following dictionary**

 #change Charan’s salary to 8500 in the following dictionary# 
sample_dict = {
    'emp1': {'name': 'Jhony', 'salary': 7500},
    'emp2': {'name': 'Ravi', 'salary': 8000},
    'emp3': {'name': 'Charan', 'salary': 6500}
}

In [2]:
# change Charan’s salary to 8500 in the following dictionary
sample_dict = {
    'emp1': {'name': 'Jhony', 'salary': 7500},
    'emp2': {'name': 'Ravi', 'salary': 8000},  # ctreating dictionary with three employees details
    'emp3': {'name': 'Charan', 'salary': 6500}
}

# By using for loop and if condition changes charan's salary from 6500 to 8500

for emp in sample_dict.values():
    if emp['name'] == 'Charan':
        emp['salary'] = 8500
        
# print all employeees details in the following format after updating charan's salary
sample_dict =  {
    'emp1': {'name': sample_dict['emp1']['name'], 'salary': sample_dict['emp1']['salary']},
    'emp2': {'name': sample_dict['emp2']['name'], 'salary': sample_dict['emp2']['salary']},
    'emp3': {'name': sample_dict['emp3']['name'], 'salary': sample_dict['emp3']['salary']}
}
sample_dict

{'emp1': {'name': 'Jhony', 'salary': 7500},
 'emp2': {'name': 'Ravi', 'salary': 8000},
 'emp3': {'name': 'Charan', 'salary': 8500}}

**`Question:` Print the value of key ‘history’ from the below dict**

sampleDict = {
    "class": {
        "student": {
            "name": "Mike",
            "marks": {
                "physics": 70,
                "history": 80
            }
        }
    }
}

In [78]:
# Print the value of key ‘history’ from the below dict

sampleDict = {
    "class": {
        "student": {
            "name": "Mike",
            "marks": {
                "physics": 70,
                "history": 80
            }
        }
    }
}

In [3]:
# Based on the keys extracting history marks

print(sampleDict['class']['student']['marks']['history'])

NameError: name 'sampleDict' is not defined

**`Question:` Rename a key Location to a Area in the following dictionary**

{'Gender': 'Male',
 'Location': 'Nizampet, Hyderabad',
 'Name': 'John',
 'Occupation': 'Data Scientist'}

In [96]:
#  Rename a key Location to a Area in the following dictionary

sample ={'Gender': 'Male',
         'Location': 'Nizampet, Hyderabad',
         'Name': 'John',
         'Occupation': 'Data Scientist'}

In [97]:
if 'Location' in sample:  # changing 'Location' key with 'Area'
    sample['Area'] = sample.pop('Location')
else:
    print("Key 'Location' not found in the dictionary.")

In [98]:
sample

{'Gender': 'Male',
 'Name': 'John',
 'Occupation': 'Data Scientist',
 'Area': 'Nizampet, Hyderabad'}

## Tasks

In [34]:
#  if the username and password matches print hello username

# Creating database
database = {'ram':1234,
            'raghu':5678,
            'kanav':1357}

# Taking input from the user

user_name = input("please Enter user name : ") 
password = int(input("Enter your password : "))

# check the given input with the database, if found the database display "hello username"
if user_name in database and database[user_name] == password:
    print("Hello " + user_name)
else: # if the input is not in the database ssy "invalid output"
    print("Invalid username or password")

please Enter user name : gopi
Enter your password : 5432
Invalid username or password

In [35]:
# if the username and password doesnot match, ask, you want me to add into the database

# if user wants to add the input given by him ask for confirmation yes/no
add_to_database = input("Invalid username or password. Do you want to add this user to the database (yes/no)? ")

if add_to_database.lower() == 'yes': # if yes add the input given by user to database 
    database[user_name] = password
    print("User added to the database.")
else:
    print("Access denied.")

Invalid username or password. Do you want to add this user to the database (yes/no)? yes
User added to the database.

In [36]:
#   calling updated database
database

{'ram': 1234, 'raghu': 5678, 'kanav': 1357, 'gopi': 5432}

**`Question:` database = {'ram':1234,'raghu':5678,'kanav':1357}**
## Tasks :-
### 1. if the username and password matches print hello username
### 2. if the username and password doesnot match, ask, you want me to add into the database
### 3. show the updated database list

# [Innomatics Research Labs](https:/innomatics.in/)
[www.innomatics.in](https:/innomatics.in/)